<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Editar Perfil</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="nome">Nome:</label>
                                        <input matInput
                                               type="text"
                                               class="form-control"
                                               id="nome"
                                               placeholder="Digite seu nome"
                                               [value]="motociclista.nome">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <label for="email">E-mail:</label>
                                        <input matInput
                                               type="text"
                                               class="form-control"
                                               id="email"
                                               placeholder="Digite seu e-mail"
                                               [value]="motociclista.email">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <label for="cpf">CPF:</label>
                                        <input matInput
                                               type="text"
                                               class="form-control"
                                               id="cpf"
                                               placeholder=""
                                               [(ngModel)]="motociclista.cpf" mask="000.000.000-00" disabled>
                                    </div>
                                </div>
                            </div>

                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" id="updateProfileBtn" (click)="editar(this.motociclista)">Editar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
