<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Histórico de Rotas</h4>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
                          <table class="table">
                              <thead class="text-primary">
                              <th>Link da Rota</th>
                              <th>Distância</th>
                              <th>Tempo</th>
                              </thead>
                              <tbody>
                              <tr *ngFor="let rota of rotas">
                                  <td><a [href]="rota.link" target="_blank">{{ rota.link }}</a></td>
                                  <td>{{ rota.distancia }} km</td>
                                  <td>{{ rota.tempoViagem }} min</td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
