<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Moto</h4>
                    </div>
                    <div class="card-body">
                        <form action="/motorcycle" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" name="modelo" placeholder="Modelo"
                                           [(ngModel)]="moto.modelo" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" name="marca" placeholder="Marca"
                                           [(ngModel)]="moto.marca" class="form-control">
                                </div>
                            </div>
                            <div class="row" style="justify-content: space-between">
                                <button type="button" class="btn btn-danger col-2 login"
                                        >
                                    Cadastrar Moto
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>