<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <p>aqui deve ficar o gráfico de pizza rota por tempo</p>
                    <ngx-charts-pie-chart
                            [view]="view"
                            scheme="picnic"
                            [results]="single"
                            [gradient]="gradient"
                            [legend]="showLegend"
                            [legendPosition]="legendPosition"
                            [doughnut]="isDoughnut"
                    >
                    </ngx-charts-pie-chart>

                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <p>aqui deve ficar o gráfico de pizza rota por distancia</p>
                    <ngx-charts-pie-chart
                            [view]="view"
                            scheme="picnic"
                            [results]="single"
                            [gradient]="gradient"
                            [legend]="showLegend"
                            [legendPosition]="legendPosition"
                            [doughnut]="isDoughnut"
                    >
                    </ngx-charts-pie-chart>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <p>aqui deve ficar o gráfico de pizza rotas </p>
                    <ngx-charts-pie-chart
                            [view]="view"
                            scheme="picnic"
                            [results]="single"
                            [gradient]="gradient"
                            [legend]="showLegend"
                            [legendPosition]="legendPosition"
                            [doughnut]="isDoughnut"
                    >
                    </ngx-charts-pie-chart>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>